h1 {
	text-align: center;
}

.buttonSection{
	width: 50%;	
	margin: auto;
	text-align: center;
	
}

img {
	width: 200px;
	height: 200px;
}

table{
	text-align: center;
	border:solid;

}

.button-style{
	width: 75px;

}

.bloco1{
	text-align: center;
}

td{
	width: 100px;
	height: 100px;
	margin: 15px;
	border: solid 1px black;
	text-align: center;
}

bloco2 {
	text-align: center;
}