.branco{
	background-color: rgb(256,256,256);
	width: 70px;
	height: 70px;
	border-collapse: 5px;
	border:solid;
	border: 1px solid green;
}
.preto{
	background-color: rgb(0,0,0);
	width: 70px;
	height: 70px;
	border-collapse: 5px;
	border:solid;
	border: 1px solid green;
}

table{

	border:solid;
	border: 1px solid green;
}
#botao{
			margin-left: 19px;
			 height:45px; 
			 width:70px; 
			 font-size:20px;
		}
		.bloco1{
			display: inline-block;
			margin-left: 20px;
			margin-right: 70px;
		}

		.topo{
			display: block;
			margin-left: 150px;
		}

			.play{
				width: 100px;
				height: 100px;
				border: none;
				margin: 0px;
				
			}

			tr, td{
				border-color: black;
				border-style: solid;
				
			}

			td{
				width: 150px;
				height: 150px;
			}
